{% extends "wrapper.html" %} {% load i18n %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="login d-flex flex-column justify-content-center">
            <div class="card p-3 rounded border border-1 border-primary">
                <div class="card-header">
                    <div class="card-title fs-3 fw-bold">
                        Kirish formasi
                    </div>
                </div>
                <form action="{% url 'account_login' %}" method="post" class="p-1">
                    {% csrf_token %} {{form|crispy}}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{redirect_field_value}}">
                    <br>
                    <button class="btn btn-outline-primary" type="submit">Kirish</button>
                </form>
                <p>
                    Agar hali akkaountingiz bo'lmasa u holda
                    <a href="{{ signup_url }}">Ro'yhatdan o'ting.</a>
                </p>
            </div>
        </div>
    </div>

</div>
{% endblock %}