{% extends 'wrapper.html' %} {% block content %}
<section class="d-flex justify-content-center flex-column mt-5">
    <div class="container">
        <h2>Mening maqolalarim</h2>
        <div class="row">
            {% for post in object_list %}
            <div class="col-sm-12 col-md-12 col-lg-6 my-1">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="fs-4">{{post.title}}</div>
                        <div>
                            <a href="#" class="text-decoration-none fs-6">
                                <i class="fas fa-user"></i> {{post.author}}
                            </a>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="{{post.emoji.emoji.url}}" width="60" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <p>{{post.body|truncatewords:"20"}}</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around mt-2">
                            <a href="{% url 'main:delete' post.id %}" class="btn btn-outline-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                            <a href="{% url 'main:edit' post.id %}" class="btn btn-outline-danger">
                                <i class="fas fa-pen"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}